---
import { changeLanguage } from "i18next";
import Layout from "../../../layouts/Layout.astro";
const matches = import.meta.glob('./*.mdx', { eager: true });
const allPosts = Object.values(matches);

changeLanguage("en");
---

<Layout title="Homepage">
	<section class="h-full w-1/2 flex flex-col justify-center items-center">
		<div>Moments EN</div>
		{allPosts.map((post) => (
			<a href={post.url}>{post.frontmatter.title}</a>
		))}
	</section>
</Layout>
