<section id="secondHero" class="h-[100vh] w-[80vw]">
  <div
    class="grid grid-cols-2 md:grid-cols-4 grid-rows-5 md:grid-rows-8 gap-2 md:gap-2 m-4 w-full h-full"
  >
    <div
      class="col-start-1 row-start-1 row-span-3 md:col-start-1 md:row-start-1 md:col-span-1 md:row-span-5 bg-gray-300 rounded-xl p-10"
    >
      0
    </div>
    <div
      class="col-start-2 row-start-3 row-span-3 md:col-start-2 md:row-start-3 md:col-span-2 md:row-span-4 bg-gray-300 rounded-xl p-10"
    >
      1
    </div>
    <div
      class="col-start-2 row-start-1 row-span-2 md:col-start-2 md:row-start-1 md:col-span-1 md:row-span-2 bg-gray-300 rounded-xl p-10"
    >
      2
    </div>
    <div
      class="col-start-1 row-start-4 row-span-2 md:hidden bg-gray-300 rounded-xl p-10"
    >
      3
    </div>
    <div
      class="hidden md:block md:col-start-3 md:row-start-1 md:col-span-1 md:row-span-2 bg-gray-300 rounded-xl p-10"
    >
      4
    </div>
    <div
      class="hidden md:block md:col-start-3 md:row-start-1 md:col-span-1 md:row-span-2 bg-gray-300 rounded-xl p-10"
    >
      4
    </div>
    <div
      class="hidden md:block md:col-start-4 md:row-start-4 md:col-span-1 md:row-span-2 bg-gray-300 rounded-xl p-10"
    >
      5
    </div>
    <div
      class="hidden md:block md:col-start-4 md:row-start-1 md:col-span-1 md:row-span-3 bg-gray-300 rounded-xl p-10"
    >
      6
    </div>
    <div
      class="hidden md:block md:col-start-1 md:row-start-6 md:col-span-1 md:row-span-3 bg-gray-300 rounded-xl p-10"
    >
      7
    </div>
    <div
      class="hidden md:block md:col-start-4 md:row-start-6 md:col-span-1 md:row-span-3 bg-gray-300 rounded-xl p-10"
    >
      8
    </div>
    <div
      class="hidden md:block md:col-start-2 md:row-start-7 md:col-span-1 md:row-span-2 bg-gray-300 rounded-xl p-10"
    >
      9
    </div>
    <div
      class="hidden md:block md:col-start-3 md:row-start-7 md:col-span-1 md:row-span-2 bg-gray-300 rounded-xl p-10"
    >
      10
    </div>
  </div>
</section>
