---
import { Image } from "astro:assets";
import { ui } from "../../i18n/utils";

const currentPath = Astro.url.pathname;
const lang = currentPath.split("/")[1] || "bg";

const imageModules = import.meta.glob(
  "../../content/images/heroPage/*.{jpg,JPG,png,JPEG,jpeg}",
  {
    eager: true,
  }
);
const homepageHeroImgs = Object.values(imageModules).map(
  (module) => (module as { default: string }).default
);
---

<section
  class="flex flex-col items-center justify-center w-full prose prose-lg max-w-none"
>
  <h1 id="catchPhrase" class="text-center text-balance mt-10">
    {ui[lang]["hero.catchphrase"]}
  </h1>
  <!-- <ScrollSvg /> -->
  <div id="first-img-section" class="flex grow-0 gap-2 h-[90vh]">
    <div class="flex-1 h-full overflow-hidden rounded-3xl">
      <Image
        src={homepageHeroImgs[0]}
        alt="Image from a concert of Robi"
        class="imagePh object-cover object-top w-full h-full rounded-3xl"
        densities={[1.5, 2]}
        loading="lazy"
        decoding="async"
        quality="mid"
        format="webp"
      />
    </div>
    <div class="flex-1 h-full overflow-hidden rounded-3xl">
      <Image
        src={homepageHeroImgs[1]}
        alt="Image from a concert of Robi"
        class="imagePh object-cover object-top w-full h-full rounded-3xl"
        densities={[1.5, 2]}
        loading="lazy"
        decoding="async"
        quality="mid"
        format="webp"
      />
    </div>
  </div>
</section>

<!-- <script>
  import { gsap } from "gsap";
  import { Flip } from "gsap/Flip";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(Flip, ScrollTrigger);

  // function initParallax() {
  //   const parallaxWrapper = document.querySelector(".parallax-wrapper");

  //   gsap.to(parallaxWrapper, {
  //     y: "-30%",
  //     ease: "none",
  //     scrollTrigger: {
  //       trigger: "#secondHero",
  //       start: "top 30%",
  //       markers: true,
  //       scrub: 1,
  //     },
  //   });
  // }

  function init() {
    const logo = document.querySelector("#logo");
    const firstImgSection = document.querySelector("#first-img-section");
    const catchPhrase = document.querySelector("#catchPhrase");
    const scrollSvg = document.querySelector("#scrollSvg");
    const navDesktop = document.querySelector("#nav-desktop");
    const secondImgSection = document.querySelector("#second-img-section");
    const secondHero = document.querySelector("#secondHero");

    // Create a timeline for better control of animation sequence
    const tl = gsap.timeline();

    // Initial states
    gsap.set(firstImgSection, { opacity: 0 });
    gsap.set(catchPhrase, { opacity: 0 });
    gsap.set(navDesktop, { opacity: 0 });
    gsap.set(secondImgSection, { opacity: 0 });
    gsap.set(secondHero, { opacity: 0 });

    // Animation timeline
    tl.fromTo(logo, { opacity: 0 }, { opacity: 1, duration: 0.5 })
      .to(logo, {
        opacity: 1,
        duration: 0.5,
      })
      .to(logo, {
        opacity: 0,
        duration: 1,
        onComplete: () => {
          gsap.set(logo, { display: "none" });
        },
      })
      .to(navDesktop, {
        opacity: 1,
        duration: 0.5,
      })
      .to(catchPhrase, {
        opacity: 1,
        duration: 1,
      })
      .to(
        scrollSvg,
        {
          opacity: 1.2,
          ease: "power2.inOut",
        },
        "<+0.4"
      )
      .to(scrollSvg, {
        opacity: 0,
        duration: 0.6,
        y: 100,
        onUpdate: (self) => {
          gsap.to(firstImgSection, {
            opacity: 1 - self.progress,
          });
        },
        onComplete: () => {
          gsap.set(scrollSvg, { display: "none" });
        },
      })
      .to(
        firstImgSection,
        {
          opacity: 1,
          duration: 1,
          y: -150,
          ease: "power2.inOut",
        },
        "<-0.1"
      )
      .to(secondHero, {
        opacity: 1,
        y: -200,
        duration: 1,
      })
      .to(secondImgSection, {
        opacity: 1,
        duration: 1,
      });

    // Initialize parallax effect
    // initParallax();
  }

  // Run on initial load and after navigation
  document.addEventListener("astro:after-swap", init);
  init();
</script> -->
