---
import { Image } from "astro:assets";
import { ui } from "../../i18n/utils";

const currentPath = Astro.url.pathname;
const lang = currentPath.split("/")[1] || "bg";

const imageModules = import.meta.glob(
  "../../content/images/heroPage/*.{jpg,JPG,png,JPEG,jpeg}",
  {
    eager: true,
  }
);
const homepageHeroImgs = Object.values(imageModules).map(
  (module) => (module as { default: string }).default
);
---

<section
  class="flex flex-col items-center justify-center w-full prose prose-lg max-w-none"
>
  <h1 id="catchPhrase" class="text-center text-balance mt-10">
    {ui[lang]["hero.catchphrase"]}
  </h1>
  <!-- <ScrollSvg /> -->
  <div id="first-img-section" class="flex grow-0 gap-2 h-[90vh]">
    <div class="flex-1 h-full overflow-hidden rounded-3xl">
      <Image
        src={homepageHeroImgs[0]}
        alt="Image from a concert of Robi"
        class="imagePh object-cover object-top w-full h-full rounded-3xl"
        densities={[1.5, 2]}
        loading="lazy"
        decoding="async"
        quality="mid"
        format="webp"
      />
    </div>
    <div class="flex-1 h-full overflow-hidden rounded-3xl">
      <Image
        src={homepageHeroImgs[1]}
        alt="Image from a concert of Robi"
        class="imagePh object-cover object-top w-full h-full rounded-3xl"
        densities={[1.5, 2]}
        loading="lazy"
        decoding="async"
        quality="mid"
        format="webp"
      />
    </div>
  </div>
</section>
