---
import { Image } from "astro:assets";
import { ui } from "../../i18n/utils";

const currentPath = Astro.url.pathname;
const lang = currentPath.split("/")[1] || "bg";

const imageModules = import.meta.glob(
  "../../content/images/heroPage/*.{jpg,JPG,png,JPEG,jpeg}",
  {
    eager: true,
  }
);
const homepageHeroImgs = Object.values(imageModules).map(
  (module) => (module as { default: string }).default
);
---

<section
  class="flex flex-col items-center justify-center w-full prose prose-lg max-w-none"
>
  <h1 id="catchPhrase" class="text-center text-balance mt-10">
    {ui[lang]["hero.catchphrase"]}
  </h1>
  <div id="first-img-section" class="flex grow-0 gap-2 w-2/3 h-[85vh]">
    <div class="flex-1 h-full overflow-hidden rounded-3xl">
      <Image
        src={homepageHeroImgs[0]}
        alt="image of a happy couple at a wedding"
        class="imagePh rounded-3xl"
        format="webp"
        layout="constrained"
        quality="mid"
        priority="true"
      />
    </div>
    <div class="flex-1 h-full overflow-hidden rounded-3xl">
      <Image
        src={homepageHeroImgs[1]}
        alt="image of a happy couple at a wedding"
        class="imagePh rounded-3xl"
        format="webp"
        layout="constrained"
        quality="mid"
        priority="true"
      />
    </div>
  </div>
</section>
