---
import { Image } from "astro:assets";
import infoCardImg1 from "../../content/images/heroPage/3.jpeg";

import i18next, { t } from "i18next";
import { localizePath } from "astro-i18next";
const aboutPath = "/за-мен";
---

<section id="infoCard1" class="w-[60%] grid grid-cols-2 grid-rows-1">
  <article class="prose prose-lg max-w-none text-pretty">
    <h1>Every Frame - a story crafted with passion.</h1>
    <p>
      Photography is more than just pressing a shutter. It’s about seeing the
      unseen, feeling the emotions, and crafting a moment that lives forever.
      Every wedding is unique, and I take time to ensure each shot tells a story
      that’s authentically yours.
    </p>
  </article>
  <Image
    src={infoCardImg1}
    alt="beautiful wedding photo of a couple"
    class="imagePh rounded-3xl justify-self-center"
    width={400}
    height={500}
    format="webp"
    layout="constrained"
    quality="mid"
  />
</section>
<section id="infoCard2" class="w-[60%] grid grid-cols-2 grid-rows-1">
  <Image
    src={infoCardImg1}
    alt="beautiful wedding photo of a couple"
    class="imagePh rounded-3xl justify-self-center"
    width={400}
    height={500}
    format="webp"
    layout="constrained"
    quality="mid"
  />
  <article class="prose prose-lg max-w-none text-pretty">
    <h1>Meet the Eye Behind the Lens.</h1>
    <p>
      My name is Mihaylo, and I have spent the past five years
      capturing love stories with passion and dedication. My approach is a mix
      of journalistic storytelling and carefully crafted, moody portraits. I
      thrive in the fast-paced, dynamic energy of wedding days, ensuring every
      moment—big or small—is immortalized with authenticity.
    </p>
    <a href={localizePath(aboutPath)}>Повече информация за мен</a>
  </article>
</section>
