---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Homepage">
		<section class="h-full w-1/2 flex flex-col justify-center items-center -z-50">
			<div>About copy + couple of images</div>
			<div x-data="{ open: false }">
				<button @click="open = ! open">Toggle</button>
		 
				<span x-show="open" x-transition>
						Hello 👋
				</span>
		</div>
		</section>
</Layout>
