---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Homepage">
	<main class="w-full h-screen flex flex-col p-10 items-center -z-50">
		<section class="h-full w-1/2 flex flex-col justify-center items-center">
			<div>Homepage Hero img & Card with cheeky copy</div>
			<div class="opacity-0" x-intersect="$el.classList.add('opacity-100')" >YOOOOOO</div>
			<div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam dolore veniam et eligendi quae molestias fugiat nulla ea praesentium, tenetur consequuntur magni ipsam, quam illum quibusdam distinctio delectus debitis magnam!
			Sit repellendus est deleniti quae officiis? Repellat ad veniam recusandae laboriosam facilis nihil consequatur sint praesentium, accusamus dolorum consequuntur odio repellendus labore in voluptatem voluptatibus, quisquam tempora, voluptate nostrum a.
			Sit pariatur hic rem itaque, ex cumque iusto cum nihil expedita nulla ducimus atque recusandae delectus rerum, obcaecati sapiente amet mollitia temporibus cupiditate ea soluta error. Officia voluptatum qui non!
			Maxime consequuntur recusandae alias! Distinctio fuga nihil ea, laudantium laborum tempore dolore vel fugit voluptatum ratione dolorem voluptatem nemo? Vero nisi officiis aut voluptates magni eveniet minima ratione! Ut, consequuntur.
			Minus quis possimus magnam pariatur commodi quae corporis tempore delectus aliquam voluptates modi officia eos quod est ab libero debitis eveniet, repellendus placeat optio vitae? Iste delectus sint enim doloribus!
			Blanditiis perferendis sed qui velit labore in maxime iusto veritatis explicabo! Magni voluptatem facere eaque eveniet. Asperiores sed assumenda quis a ipsa, dolor repellendus sit cum consequuntur corporis placeat ad.
			Deleniti inventore fuga fugit cumque modi molestiae possimus aliquid nostrum, maxime a sed praesentium, repellendus porro accusamus, iure dolores perferendis impedit quod deserunt odio! Enim quos praesentium ipsum autem ut!
			Quos temporibus officia consectetur saepe, nihil voluptatem vero dignissimos odit laudantium, a repellendus soluta. Ducimus perspiciatis, expedita aliquid assumenda molestiae quisquam necessitatibus! Ratione modi consequatur sit, nulla cumque earum dicta!
			Et, ex. In aliquam at veniam! Alias laudantium deleniti eos ratione quae reiciendis nulla esse delectus reprehenderit quis ipsum, a et hic voluptatum modi atque officiis facilis. Maiores, magnam maxime.
			Exercitationem magnam tenetur commodi repellat sed sapiente aliquid ullam quidem, eaque sit sunt quis nobis quos iure omnis ex officiis. Repellendus cupiditate quod eius accusamus error hic eos. Ipsam, cum!
			Nobis recusandae quia soluta odio assumenda! Officiis nisi inventore consectetur aperiam impedit, quaerat soluta ipsum in nostrum iste nulla cumque. Suscipit ad rem nemo perferendis nesciunt mollitia facere reprehenderit voluptas.
			Maxime omnis voluptas enim ducimus nesciunt voluptatibus consequuntur amet similique hic eveniet, rem, eaque temporibus quam! Debitis recusandae eaque sint facilis obcaecati adipisci hic, quis perspiciatis minus! Perspiciatis, beatae exercitationem.
			Iste eligendi, possimus sed tempora blanditiis et excepturi voluptas assumenda veritatis ad, totam iusto dolor velit iure quas ipsa, nam odio! Dolorem illum molestias, sapiente quia sequi ea est labore!
			Quia dolor nesciunt quam adipisci quae, corporis obcaecati possimus delectus laudantium cupiditate accusantium blanditiis vero dignissimos necessitatibus veritatis soluta beatae, repudiandae consequuntur placeat? Sapiente quis mollitia quos rem sed inventore.
			Distinctio sint sunt praesentium perspiciatis, est aperiam ad magnam, repellat nulla eveniet veritatis at autem incidunt perferendis sed et, cupiditate enim deleniti! Assumenda voluptatem delectus odit dicta, asperiores ducimus quisquam.
			Dignissimos, deserunt a! Laborum exercitationem aperiam obcaecati explicabo, nostrum atque in tempora repudiandae aspernatur error, ea voluptates. Earum possimus accusantium maiores incidunt. Fuga vitae non sint, pariatur quas et debitis.
			A minima, odit atque alias molestias omnis repellendus facere ex ullam odio nam eum quidem porro dolores. Alias exercitationem vero quos consequatur sit quia dolorum quisquam, quis sapiente quaerat sequi.
			Quod cum ad autem hic commodi praesentium necessitatibus dolorum cupiditate ut illum, quis minima laudantium sed perferendis totam incidunt atque esse omnis? Quidem, doloremque deleniti. Assumenda repudiandae magni ea impedit.
			Harum ipsa quisquam fugiat. Aspernatur nulla eaque deleniti repellendus, ducimus minus, sed quas dolor eum soluta, quae natus rem obcaecati consequuntur quia libero nostrum voluptatem cumque consectetur pariatur neque reprehenderit.
			Natus ullam, voluptas beatae voluptatibus magni fuga! Laborum sed aliquid cumque temporibus dolorum pariatur eaque voluptates velit tempora nostrum. Provident ad minus inventore voluptas sint, eum perferendis aperiam assumenda impedit.</div>
		</section>
	</main>
</Layout>

