---
import { changeLanguage } from "i18next";
import SimpleGallery from "../../components/SimpleGallery.astro";
import Bento from "../../components/Bento.astro";
import Layout from "../../layouts/Layout.astro";

changeLanguage("en");
---

<Layout title="Homepage">
  <section class="h-full w-4/5 flex flex-col justify-center gap-2">
		<Bento />
  </section>
</Layout>
