---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("en");
---

<Layout title="Homepage">
		<section class="h-full w-1/2 flex flex-col justify-center items-center -z-50">
			<div>Моменти брат</div>
		</section>
</Layout>
