---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Prices">
		<section class="h-full w-1/2 flex flex-col justify-center items-center -z-50">
			<div transition:animate="slide">nice pricelist with details</div>
		</section>
</Layout>
