---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("en");
---

<Layout title="Homepage">
		<section class="h-full w-1/2 flex flex-col justify-start items-center -z-50 prose">
			<h1 class="text-zink font-bold text-7xl" transition:name="title-weddings">Сватби</h1>
		</section>
</Layout>
