---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Homepage">
	<main class="w-full h-screen flex flex-col p-10 items-center">
		<section class="h-full w-1/2 flex flex-col justify-center items-center">
			<div>Това е хоумпейджа с някакви приятни снимчици</div>
			<div class="opacity-0" x-intersect="$el.classList.add('opacity-100')" >YOOOOOO</div>
			<div>Добре дошли в нашия очарователен и живописен град. Разположен в сърцето на тучна долина, заобиколен от зелени хълмове и кристално чисти реки, нашето селище е истински рай за тези, които търсят спокойствие и тишина. Местните жители са известни със своето топло гостоприемство и готовност да помогнат на всеки, който има нужда от помощ или насоки.

				В центъра на града се намира величествен площад, където се провеждат традиционни тържества и културни събития през цялата година. Величествени дървета обграждат площада, осигурявайки сянка и прохлада в горещите летни дни. Децата обожават да играят в близкия парк, оборудван с модерни съоръжения за игра и просторни зелени площи за пикник.
				
				Нашата оживена главна улица е дом на разнообразни магазини, продаващи всичко - от ръчно изработени занаяти и сувенири до висококачествени дрехи и технологични джаджи. Можете също така да намерите редица кафенета и ресторанти, предлагащи вкусна храна от цял ​​свят, което прави нашата главна улица идеалното място както за пазаруване, така и за хранене.
				
				През топлите месеци местните фермери идват на нашия седмичен пазар на открито, предлагайки изобилие от пресни плодове, зеленчуци и други продукти, отглеждани в нашите плодородни полета. Ароматът на прясно изпечен хляб и подправки изпълва въздуха, докато търговците продават стоките си и споделят истории с клиенти.
				
				Нощният живот в нашия град също е доста оживен. От уютни пъбове, предлагащи освежаващи напитки и жива музика, до елегантни барове и нощни клубове, има по нещо за всеки. Ако предпочитате по-спокойна вечер, можете да посетите нашия градски театър, където се представят пиеси и мюзикъли от местни таланти.
				
				Каним ви да посетите нашия прекрасен град и да изпитате топлината и гостоприемството на нашите хора. Независимо дали сте тук за ваканция или планирате да се преместите, ние сме сигурни, че ще се влюбите в нашия специален малък свят.</div>
		</section>
	</main>
</Layout>

