---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Цени">
	<main class="w-full h-screen flex flex-col p-10 items-center">
		<section class="h-full w-1/2 flex flex-col justify-center items-center">
			<div transition:animate="slide">Ценова листа братоооу</div>
		</section>
	</main>
</Layout>
