---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Цени">
		<section class="h-full w-1/2 flex flex-col justify-center items-center -z-50">
			<div transition:animate="slide">Ценова листа братоооу</div>
		</section>
</Layout>
