---
import { changeLanguage } from "i18next";
import HomepageHero from "../components/HomepageHero.astro"
import Layout from "../layouts/Layout.astro";

changeLanguage("bg");
---

<Layout title="Homepage">
  <section class="h-full w-3/4 flex flex-col justify-center items-center -z-50">
    <HomepageHero />
  </section>
</Layout>
