---
import { changeLanguage } from "i18next";
import HomepageHero from "../components/HomepageHero.astro"
import Layout from "../layouts/Layout.astro";

changeLanguage("bg");
---

<Layout title="Homepage">
  <section class="h-full w-4/5 flex flex-col justify-start gap-10">
    <HomepageHero />
  </section>
</Layout>
