---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Homepage">
		<section class="h-full w-1/2 flex flex-col justify-center items-center -z-50">
			<h1>Тук ще има информация за сватби</h1>
		</section>
</Layout>
