---
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

changeLanguage("bg");
---

<Layout title="Homepage">
  <section class="self-center flex justify-center gap-6 w-full">
    <div class="prose flex flex-col">
      <h1 class="text-zink font-bold text-7xl" transition:name="title-weddings">
				Сватби
			</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        voluptatum mollitia nostrum tempore veniam fuga earum, saepe sint minima
        at beatae perferendis! Voluptatibus animi dignissimos et nemo laudantium
        aut minus.
      </p>
    </div>
  </section>
</Layout>
