---
import Layout from "../layouts/Layout.astro";
import { Cloudinary } from "@cloudinary/url-gen";

const cld = new Cloudinary({ cloud: { cloudName: "drtyxsoe0" } });
const myImage = cld.image("test/28_Oct_2023_206_iywfkv");
---

<Layout title="Homepage">
  <section class="h-full w-1/2 flex flex-col justify-center items-center -z-50">
    <div>Моменти пак на БГ</div>
    <img src=`${myImage.toURL()}` alt="asd" />
  </section>
</Layout>
