---
const { width, height } = Astro.props;
---

<!-- <svg
  id="logo"
  width={width}
  height={height}
  viewBox=`0 0 1178 745`
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M595.151 148.894L297.562 228.614L293.908 229.527L355.353 0.911475C403.919 5.81859 450.736 21.6874 492.274 47.3215C533.813 72.9556 568.989 107.686 595.151 148.894ZM308.763 0L243.662 243.233L224.246 315.175L53.1938 144.122C81.312 101.554 119.152 66.2832 163.59 41.2236C208.028 16.1639 257.788 2.0338 308.763 0ZM28.5145 454.727C-11.9056 364.973 -9.38881 260.601 36.292 172.899L256.902 393.509L28.5145 454.727ZM50.2092 495.606L293.67 430.278L351.452 414.973L290.007 643.589C241.441 638.682 194.624 622.813 153.086 597.179C111.547 571.545 76.3709 536.815 50.2092 495.606Z M421.113 329.326L416.317 347.369L336.597 644.501C401.331 642.023 463.395 619.991 514.867 581.87C517.575 551.466 523.022 507.965 533.331 438.657C496.63 392.331 440.74 348.953 421.113 329.326Z"
    fill="black"></path>
  <path
    d="M1066.56 731.926C1035.58 732.739 1013.19 724.505 999.385 707.222C985.566 689.463 978.199 663.19 977.286 628.401C976.373 593.612 985.47 513.256 1004.58 387.333L993.14 387.633C965.071 426.521 942.2 472.664 924.526 526.063C906.852 579.461 896.428 627.424 893.252 669.95C870.477 692.485 843.839 704.153 813.339 704.954C800.948 705.279 789.875 701.278 780.119 692.95C770.826 684.133 761.365 668.882 751.735 647.198C732.938 603.341 718.095 519.322 707.204 395.14L695.767 395.44C675.106 498.514 665.325 571.019 666.427 612.956C667.528 654.894 675.527 687.112 690.424 709.611C662.394 731.807 632.89 743.312 601.914 744.125C570.937 744.939 548.546 736.704 534.739 719.422C520.92 701.663 513.548 675.15 512.622 639.885C512.228 624.882 512.509 608.34 514.867 581.87C517.575 551.466 523.022 507.965 533.331 438.657C535.429 424.553 537.729 409.38 540.247 393.031L387.349 246.493C459.812 225.084 554.679 197.084 613.669 179.53C681.525 159.338 751.845 217.84 777.83 278.833C797.629 324.571 812.744 391.654 823.172 480.081L831.75 479.856C854.617 406.292 887.284 342.723 929.751 289.151C952.841 260.408 980.614 237.504 1013.07 220.437C1046.01 203.358 1081.77 194.312 1120.37 193.299C1157.07 192.335 1176 214.014 1177.16 258.334C1177.55 273.107 1169.7 328.394 1153.62 424.193C1138 519.504 1130.43 576.214 1130.9 594.324C1132.12 640.55 1140.17 674.913 1155.07 697.412C1127.04 719.608 1097.54 731.113 1066.56 731.926Z"
    fill="#708090"></path>
</svg> -->
<!-- <div id="logo" class="w-[90vw] h-[90vh]">
  <img
    src="/Logo.png"
    class="w-auto h-auto"
    alt="logo showing shutter and the letter M next to it"
  />
</div> -->
  <img
    id="logo"
    src="/Logo.png"
    class="w-[50vw] h-auto top-[15%] left-auto absolute"
    alt="logo showing shutter and the letter M next to it"
  />
