---
import { getRelativeLocaleUrl } from "astro:i18n";
import { navChangeLanguage } from "../utils/navigationLocales"
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { fade } from "astro:transitions";
import i18next, { t } from "i18next";
import { localizePath } from "astro-i18next";


// const currentLocale = getRelativeLocaleUrl(Astro.currentLocale);
// const lang = currentLocale.replaceAll("/", "");

const lang = getLangFromUrl(Astro.url);
let pathName = Astro.url.pathname.split('/').pop();
let enPath = t(`changeToEn.${pathName}`);
let bgPath = t(`changeToBg.${pathName}`);
// lang == 'en' ? pathName = pathName.split('/')[2] : pathName = pathName.split('/')[1]	
// const decodedPathName = decodeURIComponent(pathName.substring(1, pathName.length-1));

// const t = useTranslations(lang);
// console.log(t("nav.home"));
console.log(lang);
console.log("orig- ", pathName);
console.log("en- ", enPath);
console.log("bg- ", bgPath);
// console.log(navChangeLanguage.en[pathName]);

---

<nav title="navigation" class="relative w-full group">
	<div title="nav-desktop" class="hidden lg:block *:m-8">
		<div
			transition:animate={fade({ duration: "1.5s" })}
			class="fixed top-0 left-0 group-hover:blur-sm group-hover:hover:blur-none group-hover:hover:scale-[1.1] duration-500"
		>
			<a href={localizePath("/")}>{t("nav.home")}</a>
		</div>
		<div
			transition:animate={fade({ duration: "2s" })}
			class="fixed top-0 right-0 group-hover:blur-sm group-hover:hover:blur-none group-hover:hover:scale-[1.1] duration-500"
		>
			<a href={localizePath("/цени")}>{t("nav.prices")}</a>
		</div>
		<div
			transition:animate={fade({ duration: "2s" })}
			class="fixed top-1/2 left-0 group-hover:blur-sm group-hover:hover:blur-none duration-500"
		>
			<div class="group/locales flex divide-x-2">
				<a
					href=`/en/${enPath}`
					class=`pr-2 duration-300 group-hover/locales:opacity-20 group-hover/locales:hover:opacity-100 ${lang == 'en' ? 'pointer-events-none': ''}`
					>en</a
				>
				<a
					href=`/${bgPath}`
					class=`pl-2 duration-300 group-hover/locales:opacity-20 group-hover/locales:hover:opacity-100 ${lang == 'bg' ? 'pointer-events-none': ''}`
					>bg</a
				>
			</div>
		</div>
		<div
			transition:animate={fade({ duration: "2s" })}
			class="peer fixed bottom-0 left-0 group-hover:blur-sm group-hover:hover:blur-none group-hover:hover:scale-[1.1] duration-500"
		>
			<a href={localizePath("/за-мен")}>{t("nav.about")}</a>
		</div>
		<div
			transition:animate={fade({ duration: "2s" })}
			class="fixed bottom-0 right-0 group-hover:blur-sm group-hover:hover:blur-none group-hover:hover:scale-[1.1] duration-500"
		>
			<a href={localizePath("/моменти")}>{t("nav.moments")}</a>
		</div>
	</div>
	<div
		title="nav-mobile"
		class="w-full lg:hidden fixed"
		x-data="{open: false}"
    :class="open ? 'bg-zinc-600' : 'bg-zinc-0'"
	>
		<div class="flex justify-between w-full p-5">
			<h1 class="prose z-0">YOOOOOO this is the logo</h1>
			<div
				class="tham tham-e-squeeze tham-w-11 z-50"
				@click="open = !open; $el.classList.toggle('tham-active')"
			>
				<div class="tham-box">
					<div
						class=`tham-inner`
						:class="open ? 'bg-slate-50' : 'bg-slate-600'"
					>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-zinc-600 w-screen h-screen absolute z-40" x-show="open">
			<div class="flex flex-col h-full justify-center items-center gap-10">
				<div class="group/locales flex gap-1">
					<a href=``>en</a>
					/
					<a href=``>bg</a>
				</div>
				<a href={localizePath("/")}>{t("nav.home")}</a>
				<a href={localizePath("/цени")}>{t("nav.prices")}</a>
				<a href={localizePath("/за-мен")}>{t("nav.about").replace('-', ' ')}</a>
				<a href={localizePath("/моменти")}>{t("nav.moments")}</a>
			</div>
		</div>
	</div>
</nav>

<script>
	const navChildren = document.querySelectorAll("nav a");

	navChildren.forEach((child) => {
		child.addEventListener("mouseover", () => {
			console.log("hoovering");
		});
	});
</script>
