---
import { fade } from "astro:transitions";
---

<nav id="navigation" class="relative w-full *:p-5"
>
  <div transition:animate={fade({duration: '2.5s'})} class ="fixed top-0 left-0"><a href="/">Home</a></div>
  <div transition:animate={fade({duration: '2.5s'})} class="fixed top-0 right-0"><a href="/prices">Prices</a></div>
  <div transition:animate={fade({duration: '2.5s'})} class="fixed top-1/2 left-0 ">en/bg</div>
  <div transition:animate={fade({duration: '2.5s'})} class="fixed bottom-0 left-0"><a href="/about">About</a></div>
  <div transition:animate={fade({duration: '2.5s'})} class="fixed bottom-0 right-0"><a href="/moments">Moments</a></div>
</nav>
