---
import { getRelativeLocaleUrl } from "astro:i18n";
import { navChangeLanguage } from "../utils/navigationLocales"
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { fade } from "astro:transitions";

// const currentLocale = getRelativeLocaleUrl(Astro.currentLocale);
// const lang = currentLocale.replaceAll("/", "");

const lang = getLangFromUrl(Astro.url);
let pathName = Astro.url.pathname;
lang == 'en' ? pathName = pathName.split('/')[2] : pathName = pathName.split('/')[1]
// const decoded = decodeURIComponent(pathName.substring(1, pathName.length-1));

const t = useTranslations(lang);
console.log(t("nav.home"));
console.log(lang);
console.log(pathName);
console.log(navChangeLanguage.en[pathName]);


---

<nav title="navigation" class="relative w-full group">
	<div title="nav-desktop" class="hidden lg:block *:m-8">
		<div
			transition:animate={fade({ duration: "1.5s" })}
			class="fixed top-0 left-0 group-hover:blur-sm group-hover:hover:blur-none group-hover:hover:scale-[1.1] duration-500"
		>
			<a href=`/${lang}/`>{t("nav.home")}</a>
		</div>
		<div
			transition:animate={fade({ duration: "2s" })}
			class="fixed top-0 right-0 group-hover:blur-sm group-hover:hover:blur-none group-hover:hover:scale-[1.1] duration-500"
		>
			<a href=`/${lang != 'bg' ? lang + '/' : ''}${t("nav.prices").toLowerCase()}/`>{t("nav.prices")}</a>
		</div>
		<div
			transition:animate={fade({ duration: "2s" })}
			class="fixed top-1/2 left-0 group-hover:blur-sm group-hover:hover:blur-none duration-500"
		>
			<div class="group/locales flex gap-1">
				<a
					href=`/en/${pathName ? navChangeLanguage[lang][pathName] : ''}`
					class=`duration-300 group-hover/locales:opacity-20 group-hover/locales:hover:opacity-100 ${lang == 'en' ? 'cursor-not-allowed': ''}`
					>en</a
				>
				/
				<a
					href=`/${pathName ? navChangeLanguage[lang][pathName] : ''}`
					class=`duration-300 group-hover/locales:opacity-20 group-hover/locales:hover:opacity-100 ${lang == 'bg' ? 'cursor-not-allowed': ''}`
					>bg</a
				>
			</div>
		</div>
		<div
			transition:animate={fade({ duration: "2s" })}
			class="peer fixed bottom-0 left-0 group-hover:blur-sm group-hover:hover:blur-none group-hover:hover:scale-[1.1] duration-500"
		>
			<a href=`/${lang != 'bg' ? lang + '/' : ''}${t("nav.about").toLowerCase()}/`>{t("nav.about").replace('-', ' ')}</a>
		</div>
		<div
			transition:animate={fade({ duration: "2s" })}
			class="fixed bottom-0 right-0 group-hover:blur-sm group-hover:hover:blur-none group-hover:hover:scale-[1.1] duration-500"
		>
			<a href=`/${lang != 'bg' ? lang + '/' : ''}${t("nav.moments").toLowerCase()}/`>{t("nav.moments")}</a>
		</div>
	</div>
	<div
		title="nav-mobile"
		class="w-full lg:hidden fixed"
		x-data="{open: false}"
    :class="open ? 'bg-zinc-600' : 'bg-zinc-0'"
	>
		<div class="flex justify-between w-full p-5">
			<h1 class="prose z-0">YOOOOOO this is the logo</h1>
			<div
				class="tham tham-e-squeeze tham-w-11 z-50"
				@click="open = !open; $el.classList.toggle('tham-active')"
			>
				<div class="tham-box">
					<div
						class=`tham-inner`
						:class="open ? 'bg-slate-50' : 'bg-slate-600'"
					>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-zinc-600 w-screen h-screen absolute z-40" x-show="open">
			<div class="flex flex-col h-full justify-center items-center gap-10">
				<div class="group/locales flex gap-1">
					<a href=`/en/${pathName ? navChangeLanguage[lang][pathName] : ''}`>en</a>
					/
					<a href=`/${pathName ? navChangeLanguage[lang][pathName] : ''}`>bg</a>
				</div>
				<a href=`/${lang}`>{t("nav.home")}</a>
				<a href=`/${lang != 'bg' ? lang + '/' : ''}${t("nav.prices").toLowerCase()}/`>{t("nav.prices")}</a>
				<a href=`/${lang != 'bg' ? lang + '/' : ''}${t("nav.about").toLowerCase()}/`>{t("nav.about").replace('-', ' ')}</a>
				<a href=`/${lang != 'bg' ? lang + '/' : ''}${t("nav.moments").toLowerCase()}/`>{t("nav.moments")}</a>
			</div>
		</div>
	</div>
</nav>

<script>
	const navChildren = document.querySelectorAll("nav a");

	navChildren.forEach((child) => {
		child.addEventListener("mouseover", () => {
			console.log("hoovering");
		});
	});
</script>
