---
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
import i18next, { t } from "i18next";

const { title } = Astro.props;
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <script is:inline>
      (() => {
        const savedTheme = localStorage.getItem("isDarkMode") === "true";
        document.documentElement.setAttribute(
          "data-theme",
          savedTheme ? "luxury" : "cupcake"
        );
      })();
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navigation />
    <slot />
  </body>
</html>

<script>
  import { isDarkMode } from "../store";
  const html = document.documentElement;

  // Set the correct theme directly on page load using localStorage
  const savedTheme = localStorage.getItem("isDarkMode") === "true";
  html.dataset.theme = savedTheme ? "luxury" : "cupcake";

  // Apply the correct theme on page load
  if (isDarkMode.get()) {
    html.dataset.theme = "luxury";
  } else {
    html.dataset.theme = "cupcake";
  }

  // Subscribe to store changes and dynamically switch themes
  isDarkMode.subscribe((theme) => {
    html.dataset.theme = theme ? "luxury" : "cupcake";
  });
</script>
